@using ChordPro.Editor.Components
@using Radzen
@page "/"
@layout NewLayout
<PageTitle>ChordPro Editor</PageTitle>
<RadzenMenu>
    <RadzenMenuItem Text="File" Icon="home">
        <RadzenMenuItem Text="Open" Icon="account_circle" @onclick="LoadFile"></RadzenMenuItem>
        <RadzenMenuItem Text="Save" Icon="line_weight" @onclick="SaveFile"></RadzenMenuItem>
    </RadzenMenuItem>
</RadzenMenu>
@if (DisplayEditor)
{
    <br />
    <!-- https://stackoverflow.com/questions/49188623/how-to-make-contenteditable-div-with-bootstrap-form-control-class-auto-resize-fo -->
    <div class="container">
        <p>
            <div autofocus class="editor col-md-12 sol-sm-12 form-control" contenteditable='true'>
                <pre>@Text</pre>
            </div>
        </p>
        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <p>
                <div class="col-md-12 sol-sm-2 form-control">@ErrorMessage</div>
            </p>
        }
    </div>
}